@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');
@import "portfolio/portfolio-projects.scss";

body {
  //background: #eee;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  .logo {
    display: flex;
    .name {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      background: #000;
      padding: 20px 15px;
      text-decoration: none;
      color: #fff;
    }
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      padding: 0 10px;
      &:hover {
        font-size: 1.1rem;
        font-weight: 700;
        color: #ff5253;
      }
    }
  }
  .menu-btn {
    display: none;
  }
}
.mobile-menu {
  display: none;
}
#top {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
  }

  .info {
    padding: 15px;
    position: relative;

    .blue-square {
      border: 20px solid #dbf1ff;
      width: 500px;
      height: 500px;
      position: absolute;
      z-index: 0;
      top: -70%;
      left: -50%;
    }

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #16171b;
      margin-bottom: 2rem;
      z-index: 1;
      position: relative;
    }

    p {
      color: #919191;
      text-transform: capitalize;
      margin-bottom: 4rem;
      z-index: 1;
      position: relative;
    }

    a {
      font-size: .9rem;
      color: #16171b;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      padding-bottom: 5px;
      border-bottom: 2px solid #000;
      z-index: 1;
      position: relative;
      letter-spacing: 2px;
    }
  }

  .img {
    .background-img {
      background: url("/img/user-img.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 500px;
      height: 800px;
      margin: 0 auto;
    }
  }
}
#services {
  padding: 80px 15px;

  .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .blue-circle {
      background: #eef9ff;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      z-index: 0;
      top: 23px;
    }

    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #16171b;
      z-index: 1;
      position: relative;
      letter-spacing: 4px;
    }
  }

  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    .box {
      background: rgba(255,255,255,0);
      transition: all .4s ease-in-out;
      padding: 40px;
      cursor: pointer;

      &:hover {
        background: rgba(255,255,255,1);
        -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
      }

      .fas {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      h5 {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 2rem;

      }

      p {
        font-size: .8rem;
        line-height: 1.5;
        color: #b3b3b3;
      }

      &.blue {
        border-bottom: 2px solid #52b8ff;
      }

      &.red {
        border-bottom: 2px solid #ff5253;
      }

      &.yellow {
        border-bottom: 2px solid #ffc853;
      }
    }

  }

}
#portfolio {
  padding: 80px 15px;

  .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .red-square {
      background: #ffeded;
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 0;
      top: 23px;
    }

    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #16171b;
      z-index: 1;
      position: relative;
      letter-spacing: 4px;
    }
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-gap: 10px;

    .box {
      background: grey;
      display: block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      width: 100%;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;

      &:hover {
        background: rgba(255,255,255,1);
        -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
      }

      &.image1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        .image {
          background: url('/img/image1.png');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {

                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image2 {
        grid-column: 3 / 4;
        grid-row: 1 / 4;

        .image {
          background: url('/img/image2.png');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {

                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image3 {
        grid-column: 1 / 2;
        grid-row: 2 / 4;

        .image {
          background: url('/img/image3.png');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {
                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        .image {
          background: url('/img/image4.jpg');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {
                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image5 {
        grid-column: 1 / 2;
        grid-row: 4 / 6;

        .image {
          background: url('/img/image5.jpg');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {
                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image6 {
        grid-column: 2 / 3;
        grid-row: 3 / 6;

        .image {
          background: url('/img/image6.jpg');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {
                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }

      &.image7 {
        grid-column: 3 / 4;
        grid-row: 4 / 6;

        .image {
          background: url('/img/image7.png');
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          .hover-bg {
            padding: 10px 20px;
            background: rgba(255,255,255,0);
            transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;

            &:hover {
              background: rgba(255,53,53,.8);

              .title {
                .text {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
                }
              }
            }



            .title {
              width: 100%;
              height: 100%;

              .text {
                background: black;
                border-radius: 5px;
                padding: 10px 20px;
                transform: translate3d(0, 400px, 0);
                opacity: 0;
                transition: all .5s ease-in-out .2s;
              }
            }
          }
        }
      }
    }
  }
}
#experience {
  padding: 80px 15px;

  .large-title {
    color: #c6e4ff;
    font-weight: 900;
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: -75px;
  }

  .experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .large-shapes {

      .square {
        border: 30px solid #52b8ff;
        padding: 5px;
        display: inline-block;
        position: relative;
        top: -100px;

        .blue-box {
          width: 150px;
          height: 150px;
          background: #52b8ff;
          color: white;
          text-transform: uppercase;
          font-weight: 500;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.1rem;
          letter-spacing: 3px;
        }
      }

      .circle {
        border: 30px solid #ffc853;
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        top: 95px;
        left: 50px;


        .white-box {
          width: 150px;
          height: 150px;
          color: #ffc853;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 1.1rem;
          letter-spacing: 3px;
        }
      }

      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 150px 230px 150px;
        border-color: transparent transparent #ff5253 transparent;
        position: relative;

        .triangle-box {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 93.75px 151.75px 93.75px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          left: -94px;
          top: 49px;
          font-weight: 600;
          font-size: 1.1rem;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ff5253;

          .text {
            position: relative;
            top: 98px;
            left: -29px;
          }
        }
      }
    }

    .info {
      padding: 80px 0 0;

      .info-box {
        padding: 15px;

        h4 {
          color: #16171b;
          font-size: 1.2rem;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 5px;
        }

        span.date {
          color: #52b7ff;
          font-size: .9rem;
          font-weight: 600;
          text-transform: capitalize;
          letter-spacing: 3px;
          padding: 15px 0;
          display: block;
        }

        p {
          color: #b2b2b4;
          font-size: 1rem;
          font-weight: 400;
          text-transform: capitalize;
          letter-spacing: 1px;
          padding: 15px 0;
          display: block;
          line-height: 1.5;
        }
      }
    }
  }
}
#blog {
  padding: 100px 15px;
  background: #f9fafc;

  .title {
    h1 {
      font-size: 4rem;
      text-align: center;
      font-weight: 700;
      margin-bottom: 80px;
      text-transform: uppercase;
    }
  }

  .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 588px 588px;
    grid-gap: 15px;
    overflow: hidden;

    .post {
      position: relative;
      transition: all .4s ease-in-out;
      cursor: pointer;
      height: 100%;
      overflow: hidden;

      &:hover {
        .details {
          transform: translate3d(0, -588px, 0);
        }
        .more {
          .button {
            color: #ff5253;
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
      }

      .post-img {
        height: 100%;
        width: 100%;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-color: #f2f3f5 !important;
      }

      .details {
        background: #fff;
        padding: 35px;
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translate3d(0, -200px, 0);
        transition: all .4s ease-in-out;

        h4 {
          font-size: 1.1rem;
          color: #13171a;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          margin-bottom: 1.8rem;
        }

        p {
          color: #919191;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 2px;
          margin-bottom: 1.8rem;
          line-height: 1.5;
        }
      }

      .more {
        position: absolute;
        z-index: 3;
        width: 100%;
        bottom: 0;
        background: #fff;
        padding: 35px;

        .button {
          font-size: 1.3rem;
          color: #13171a;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
          line-height: 1.5;
          display: inline-block;
          border-bottom: 2px solid #ff5253;
          padding-bottom: 10px;
          transition: all .4s ease-in-out .1s;
          opacity: 0;
          transform: translate3d(0, 40px, 0);
        }
      }
    }
  }
}
#testimonial {
  padding: 80px 15px;

  .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .red-square {
      background: #ffeded;
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 0;
      top: 23px;
    }

    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #16171b;
      z-index: 1;
      position: relative;
      letter-spacing: 4px;
    }
  }

  .testimonial-container {
    display: grid;
    grid-template-columns: 13% 74% 13%;
    grid-gap: 15px;
    padding: 100px 0;
    
    .test-sides {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .person-img {
          .hover-bg {
            background: rgba(255,53,53,.8);

            .name {
              transform: translate3d(0,0,0);
              opacity: 1;
            }
          }
        }
      }

      .person-img {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-color: #f2f2f5 !important;
        height: 80%;
        width: 100%;

        .hover-bg {
          background: rgba(255,53,53,0);
          height: 100%;
          width: 100%;
          transition: all .2s ease-in-out;
          cursor: pointer;

          .name {
            color: white;
            font-weight: 700;
            font-size: 2rem;
            transition: all .2s ease-in-out .1s;
            display: flex;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            transform: translate3d(0,50px,0);
            opacity: 0;
          }
        }
      }
    }

    .test-center {
      background: white;
      padding: 60px;
      -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
      -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
      box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);

      .header {
        display: flex;
        padding-bottom: 50px;

        .user-img {
          width: 150px;
          height: 150px;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
        }

        .info {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 40px;

          h4 {
            color: #13161d;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem;
          }

          span {
            color: #929294;
            font-weight: 400;
            text-transform: capitalize;
            letter-spacing: 2px;

          }
        }
      }

      p {
        color: #929294;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 2px;
        font-size: 1.4rem;
      }
    }
  }
}
footer {
  background: #f9fafc;
  padding: 100px 15px;

  .social-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;

    a {
      font-size: 3rem;
      color: #8e8f91;
      text-decoration: none;
      transition: all .3s ease-in-out;
      display: inline-block;
      padding: 10px;

      &:hover {
        color: rgba(255,53,53,1);
      }
    }
  }

  h5 {
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
  }

  h6 {
    font-size: .8rem;
    color: #000;
    text-transform: capitalize;
    text-align: center;
  }
}

/* Tablets */
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  #top {
    .container {
      padding: 0 0 80px;
    }

    .info {
      .blue-square {
        display: none;
      }
    }

    .img {
      .background-img {
        height: 100vh;
      }
    }
  }
  #services {
    .services-container {
      grid-template-columns: 100%;

      .box{
        background: rgba(255,255,255,1);
        -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,.08);
        -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,.08);
        box-shadow: 0px 40px 74px 24px rgba(0,0,0,.08);
      }
    }
  }
  #portfolio {
    .portfolio-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px 150px  150px 150px 150px 150px 150px;
      grid-gap: 10px;

      .box{
        &.image1 {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
        &.image2 {
          grid-column: 2 / 3;
          grid-row: 1 / 3;
        }
        &.image3 {
          grid-column: 1 / 2;
          grid-row: 3 / 5;
        }
        &.image4 {
          grid-column: 2 / 3;
          grid-row: 3 / 5;
        }
        &.image5 {
          grid-column: 1 / 2;
          grid-row: 5 / 7;
        }
        &.image6 {
          grid-column: 2 / 3;
          grid-row: 5 / 7;
        }
        &.image7 {
          grid-column: 1 / 4;
          grid-row: 7 / 9;
        }
      }
    }
  }
  #experience {
    .large-title {
      font-size: 3rem;
      left: 0;
    }
    .experience-container {
      .large-shapes {
        position: relative;
        top: -25px;
        .square {
          border: 30px solid #52b8ff;
          padding: 5px;
          display: inline-block;
          position: relative;
          top: 122px;
          left: 48px;
        }
      }
    }
  }
  #blog {
    .blog-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 588px 588px 588px;
    }
  }
  #testimonial {
    .testimonial-container {
      grid-gap: 0;
    }
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  #top {
    .container {
      padding: 0 0 80px;
    }

    .info {
      .blue-square {
        display: none;
      }
    }

    .img {
      .background-img {
        height: 100vh;
      }
    }
  }
  #portfolio {
    .portfolio-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
      grid-gap: 10px;

      .box{
        &.image1 {
          grid-column: 1 / 4;
          grid-row: 1 / 2;
        }
        &.image2 {
          grid-column: 1 / 4;
          grid-row: 2 / 3;
        }
        &.image3 {
          grid-column: 1 / 4;
          grid-row: 3 / 4;
        }
        &.image4 {
          grid-column: 1 / 4;
          grid-row: 4 / 5;
        }
        &.image5 {
          grid-column: 1 / 4;
          grid-row: 5 / 6;
        }
        &.image6 {
          grid-column: 1 / 4;
          grid-row: 6 / 7;
        }
        &.image7 {
          grid-column: 1 / 4;
          grid-row: 7 / 8;
        }
      }
    }
  }
  #experience {
    .large-title {
      font-size: 2.5rem;
      left: 0;
    }
    .experience-container {
      grid-template-columns: 1fr;
      .large-shapes {
        display: none;
      }
      .info {
        .info-box {
          h4 {
            font-size: .9rem;
          }
          .date {
            font-size: .8rem;
          }
        }
      }
    }
  }
  #blog {
    .title {
      h1 {
        font-size: 3rem;
      }
    }
    .blog-container {
      grid-template-columns: 1fr;
      grid-template-rows: 400px 400px 400px 400px 400px 400px;
    }
  }
  #testimonial {
    .testimonial-container {
      grid-template-columns: 50% 50%;
      grid-template-rows: 100px 1fr;
      grid-gap: 0;

      .test-sides {
        &.test-left {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        &.test-right {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
      }

      .test-center {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding: 20px;
        p {
          font-size: 1rem;
        }
      }
    }
  }
  header {
    .logo {
      .name {
        font-size: 1.3rem;
      }
    }
    .header-menu {
      display: none;
    }
    .menu-btn {
      font-weight: 700;
      color: #ff5253;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
  .mobile-menu {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 40px 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 10;
    transform: translate3d(-100%,0,0);
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    a {
      padding: 15px;
      text-decoration: none;
      color: #000;
      &:hover {
        background: #ff5253;
        color: #fff;
      }
    }
    &.active {
      transform: translate3d(0,0,0);
    }
  }
}